<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <form name="work2">
        <input type="text" name="id">
        <input type="password" name="pw">
        <button type="button" onclick="axiosPostwork()">login</button>
    </form>
    <div class="result"></div>

    <script>
        const resultBox = document.querySelector(".result")
        async function axiosPostwork(){
            const form = document.forms[`work2`]
            const data ={
                id : form.id.value,
                pw : form.pw.value,
            }
            console.log(data)
            const res = await axios({
                method : `POST`,
                url : `axiosWork`,
                data : data,
            }).then((res)=>{
                console.log(res)
                if(res.data===true){
                    resultBox.textContent = `로그인성공`
                    resultBox.style.color = `blue`
                } else {
                    resultBox.textContent = `로그인 실패`
                    resultBox.style.color = `red`
                }
            })
        }
    </script>
</body>
</html>