<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div>Socket Io</div>

    <ul></ul>
    <form id="chat">
        <input type="text" id="user" placeholder="사용자명">
        <input type="text" id="message" placeholder="입력내용"><br/>
        <button>채팅</button>
    </form>

        <button id="hello">hello</button>
        <button id="study">stduy</button>
        <button id="bye">bye</button>
        <div></div>

    <script>
        const socket = io();

        //event 생성
        socket.emit("open_message",{name : 'client', message : 'hello server'},'안녕하세요',(res)=>{
            console.log(res)
        })


        //폼 이벤트 생성
        const chatForm =document.querySelector('#chat')
        const ul = document.querySelector('ul')
        
        chatForm.addEventListener('submit',(event)=>{
            event.preventDefault();
            const user = chatForm.querySelector('#user')
            const msg = chatForm.querySelector('#message')
            
            socket.emit("form_message",{name: user.value, message : msg.value})
        });
        // 서버로부터 받는 event 생성
        socket.on("backend_message",(arg)=>{
            const li = document.createElement('li');
            li.textContent = `${arg.name}:${arg.message}`
            ul.appendChild(li)
        })

        //실습 
        const hello = document.querySelector('#hello')
        const study = document.querySelector('#study')
        const bye = document.querySelector('#bye')
        
        hello.addEventListener('click',(event)=>{
            socket.emit('button',{type :'hello', text :'안녕하세요'})
        })
        study.addEventListener('click',(event)=>{
            socket.emit('button',{type :'study', text :'공부하세요'})
        })
        bye.addEventListener('click',(event)=>{
            socket.emit('button',{type :'bye', text :'안녕히계세요'})
        })
        socket.on("backend_button",(arg)=>{
            const div = document.querySelector('div')
            div.textContent = `${arg.type}:${arg.text}`
        })
        </script>
</body>
</html>