<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div>Socket Io</div>

    <ul></ul>
    <form id="chat">
        <input type="text" id="user" placeholder="사용자명">
        <input type="text" id="message" placeholder="입력내용"><br/>
        <button>채팅</button>
    </form>

    <script>
        const socket = io();

        //event 생성
        socket.emit("open_message",{name : 'client', message : 'hello server'},'안녕하세요',(res)=>{
            console.log(res)
        })


        //폼 이벤트 생성
        const chatForm =document.querySelector('#chat')
        const ul = document.querySelector('ul')
        
        chatForm.addEventListener('submit',(event)=>{
            event.preventDefault();
            const user = chatForm.querySelector('#user')
            const msg = chatForm.querySelector('#message')
            
            socket.emit("form_message",{name: user.value, message : msg.value})
        });
        // 서버로부터 받는 event 생성
        socket.on("backend_message",(arg)=>{
            const li = document.createElement('li');
            li.textContent = `${arg.name}:${arg.message}`
            ul.appendChild(li)
        })
        </script>
</body>
</html>